/* Intégration Fancybox Viewer dans Piwigo */
.fancybox-title {
    font-size: 1.1em;
    font-weight: 600;
    margin-bottom: 4px;
    color: #ffffff;
}
.fancybox-description {
    font-size: 0.95em;
    color: #dddddd;
    line-height: 1.4;
}
.f-button[title="Ouvrir la page de la photo"] svg {
    vertical-align: middle;
}
